@import '../../app/theme.scss';

.about_container{
    width: 100%;
    background-color: $background-color1;
    padding: 7rem 0;
}

.about_wrap{
    display: flex;
    padding: 8rem;
    gap: 9rem;

    background-color: $primary-color;
    width: 100rem;

    border-bottom-right-radius: 1.6rem;
    border-top-right-radius: 1.6rem;

    img{
        height: 32rem;  
        border-radius: 1rem;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        div{
            display: flex;
            gap: 1.3rem;
            flex-direction: column;
            h1{
                color: $text-color;
                font-size: 4rem;
                font-weight: 600;
            }

            p{
                color: $text-color;
                font-size: 1.8rem;
                font-weight: 200;
            }
        }

        a{
            display: flex;
            align-items: center;
            justify-content: center;
            
            height: 5rem;
            width: 20rem;
            background-color: $accent-color;
            border: none;
            border-radius: 1rem;
            box-shadow: 0rem 0.4rem 0.4rem #00000040;
            
            color: $second-text-color;
            font-size: 1.8rem;
            font-weight: 700;

        }
    }
}

@media (max-width: 800px) {
    .about_container{
        padding: 4rem;
    }

    .about_wrap{
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-radius: 1.6rem;
        gap: 1rem;

        padding: 6rem 3rem;

        img{
            width: 14rem;
            height: 14rem;
        }

        div{
            text-align: center;
            align-items: center;
            gap: 10rem;

            div{


                h1{
                    font-size: 2rem;
                }

                p{
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }

            a{
                width: 17rem;
                height: 4rem;
            }
        }
    }
    
}

@media (min-width: 1600px) {

  
}
