/* styles/MobileMenu.module.scss */

.mobileMenu {
  position: fixed;
  top: 0;
  right: -80rem; 
  width: 100vw;
  height: 100%;
  background-color: #0B2447;
  transition: right 0.5s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem 0;
  

  div{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  

    color: #fff;
    font-size: 3rem;
    font-weight: 600;
  }
}

.mobileMenu.open {
  right: 0;
}

