@import '../../app/theme.scss';

.home_container{
    width: 100vw;

    margin-top: 9rem;
   
    background: url('../../assets/images/home.jpeg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    padding: 10rem 0 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

    div{
        opacity: none;
        display: flex;
        align-items: center;
        flex-direction: column;
    

        p{
            color: $text-color;
            
            font-size: 1.8rem;
            font-weight: 200;
            width: 35rem;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 6rem;
        }

        a{
            background-color: $primary-color;
            border: none;
            border-radius: 1rem;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            padding: 1.2rem 3.6rem;

            color: $text-color;
           
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}

@media (max-width: 600px) {

    .home_container{

        background: url('../../assets/images/homeMobile.jpeg');
        background-repeat: no-repeat;
        background-position: center ;
        background-size: cover;
        object-fit: cover;

    }

    
}

