@import '../../app/theme.scss';

.contactsSection_Container{
    width: 100%;


    background-color: $background-color1;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem;

    h1{
        color: $primary-color;
        font-size: 2.8rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    p{
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 10rem;
        color: $second-text-color;
    }
 
    div{
        display: flex;
        gap: 6rem;
        margin-bottom: 5rem;

        img{
            width: 7.5rem;
            height: auto;
        }
    }

    span{
        font-size: 1.6rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $second-text-color;
    }
}

@media (max-width: 800px) {

    .contactsSection_Container{
        padding: 9rem 3rem;
        text-align: center;

        h1{
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        p{
            font-size: 1.4rem;
            margin-bottom: 6rem;
        }

        div{
            gap: 3rem;
            margin-bottom: 3rem;
    
            img{
                width: 5rem;
            }
        }

        span{
            font-size: 1.4rem;
        }
    }
}